main {
  height: calc(100vh - 127px);
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  flex: 1;
  scroll-behavior: smooth;
  width: 100vw;
}

main::-webkit-scrollbar {
  display: none;
}

.minicard {
  width: 25.5vw !important;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 15px 15px;
  width: 30vw;
  padding: 10px 15px;
  margin-bottom: 2px;
}

.card:hover {
  background-color: #dcdcdc;
}

.card-image {
  aspect-ratio: 16 / 9;
  display: flex;
  width: 100%;
  border-radius: 13px;
}

.produtor {
  display: flex;
  margin-top: 10px;
  height: 70px;
}

.produtor-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.title {
  color: #a80000;
}

.chef-nickname {
  color: #640000;
}

.chef-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

body.dark-mode .card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* responsivity */

@media (max-width: 1200px) {
  aside {
    position: fixed;
  }

  .minicard {
    width: 30vw !important;
  }
}

@media (max-width: 1000px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    width: 46vw;
  }

  .minicard {
    width: 46vw !important;
  }
}

@media (max-width: 700px) {
  main {
    grid-template-columns: 1fr;
  }
  .card {
    padding: 0;
    width: 90vw;
  }
  .minicard{
    width: 90vw !important;
  }
}
